//variables
@use 'barchart/variable';
//Barcharts
@use'barchart/navbar';
@use'barchart/footer';
@use 'barchart/reset';
@use 'barchart/menuham';

//*-------Contenedor Principal--------------*//
.container{
    margin-top: 60px;
}

.container__card {
    display:grid;
    grid-template-columns:350px 450px ;
    grid-template-rows: 60px 1fr 60px 1px 60px;
    column-gap: 65px;
    row-gap: 15px;
    justify-content: center;
    margin-bottom: 200px;

    img {
        width: 450px;
        height: 450px;
    }
    
}

.container__name {
    grid-column: 2/2;
    font-family: variable.$title-font;
}

.container__desc {
    grid-column: 2/2;
    grid-row: 2/2;
    font-size: var(--lg);
    color: rgb(132, 126, 126);
    font-family: variable.$description-font;
    
}

.container__price {
    grid-column: 2/2 ;
    grid-row: 3 / 3;
    font-weight: bold;
    font-size: 18px;
}

.container__btn {
    background-color:variable.$avocado-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: variable.$sub-title-font;
    font-size: 15px;
    width: 100px;
    height: 35px;
    grid-column: 2/2;
    grid-row :4/4 ;
    position: relative;
   
   

    &:hover{
        background-color: rgb(69, 182, 98);
        cursor: pointer;

    }

    p {

        margin: auto;
    }
    
}




.container__add_amount {
    grid-column: 2/2;
    display: flex;
    align-items: center;
    gap : 5px;

    input{
        width: 50px;
        height: 25px;
   }   
   
}

/*Atributos del aguacate*/

.container__attributes{
    grid-column: 2/2;
    grid-row: 5/5;
}

.container__attributes{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 100px 170px;
    grid-template-rows: 50px 50px 50px;


    h1{

        font-size: 14px;
        font-family: variable.$title-font;

    }


    p{
        font-family: variable.$description-font;
        font-size: 14px;

    }
   
}


.container__attributes .hardinessh{
    grid-column: 1/2;
    
}

.container__attributes .tasteh{
    grid-column: 1/2;
    grid-row: 3/4;

}

.container__attributes .pshape {
    grid-column: 3/2;
    grid-row: 1/2;

}



/*Media*/

@media screen and (max-width: 864px){

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container__card {
        column-gap: 0px;
        row-gap: 0px;
        grid-template-columns: 450px ;
        grid-template-rows: 1px 350px 125px 60px 60px 60px 60px;
        .container__name {
            font-size: 24px;
            grid-column: 1/2;
        }

        img{
            grid-column: 1/2;
           grid-row: 2/3;
           width: 400px;
           height: 400px;
        }

        .container__desc {
            grid-column: 1/2;
            grid-row: 3/4;
            font-size: 15px;
       
            
        }

        .container__price {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .container__btn {
            font-size: 14px;
            width: 100px;
            height: 35px;
            grid-column: 1/2;
            grid-row:6/7 ;
        }

        .container__add_amount {
            grid-column: 1/2;
            grid-row: 5/6;
            input{
                width: 40px;
                height: 20px;
           }   
           
        }
        
        .container__attributes{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        

    }


}

@media screen and (max-width: 460px){


    .container__card {
        grid-template-columns: 350px ;
        grid-template-rows: 1px 350px 1fr 60px 60px 60px 60px;
        .container__name {
            font-size: 24px;
       
        }

        img{
       
           width: 380px;
           height: 380px;
        }

        .container__desc {font-size: 15px; }

        .container__btn {
            font-size: 14px;
            grid-row:6/7 ;
        }

        .container__add_amount {
            input{
                width: 40px;
                height: 20px;
           }   
           
        }
        
    
        

    }


}



