/*Variables*/
@use 'barchart/variable';

/*Barcharts */
@use 'barchart/navbar';
@use 'barchart/reset'; 
@use 'barchart/footer';
@use 'barchart/menuham';
/*---Lammar los barchart---*/
@include reset.format; // Reseteamos toda la pagina


 


/*Contenedor Principal**/

.container{
    margin-top: 100px;
    display:grid;
    grid-template-columns:repeat(3,300px);
    column-gap: 5px;
    row-gap: 10px;
    justify-content: center;
    z-index: 6;
    width: 100%;

    
    
}


.container__card {
    
    width: 275px;
    height: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    overflow: hidden;
    

    &:hover{
        
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
         transform: translateY(0.5%); 
         cursor: pointer;
       
     }
    
    
   
    
}


.container__img_card {
    width: 180px;
    height: 180px;
    margin-left: 30px;
    
}

.container__name_card{
    font-size: var(--lg);
    font-family: variable.$title-font;
    padding: 0;
    margin-bottom: 7px;

    &:hover{
        text-decoration:underline;
        color: variable.$avocado-color;
           
       }
       
       
    
}

.container__desc_card{
    font-size: var(--sm);
    font-family: variable.$description-font;
    color: variable.$description-color;
}

.container__btn_card {  
    background-color: variable.$avocado-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    width: 80px;
    height: 30px;
    transition: all 300ms;

    &:hover{
        cursor: pointer;
        background-color: rgb(69, 182, 98);
    }
    
    
}



.preview {
    max-width: 1200px;
    min-width: 300px;
    right: 0;
    top:70px;
    position: absolute;
    background-color:white;
    visibility: hidden;
}

.preview__card_shop {
   display: grid;
   grid-template-columns: 200px 20px;
   grid-template-rows: 45px 30px;
   column-gap: -40px;
   position: relative;
   box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); 
  

}

.preview__name {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;

}

.card_shop__img {
    width: 75px;
    height: 75px;
    
}

.card_shop__name {
   font-size: 13px;
}

.card_shop__price{
    grid-column: 1/2;
    grid-row: 2/3;
    position: absolute;
    top: -20px;
    left: 70px;
}

.card_shop__qua {
    grid-area:quality;
    grid-column: 3/4;
    grid-row: 1/2;
}

.card_shop_trash{
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.card_shop__trash{
    width: 20px;
    height: 20px;
}