/*Variables*/
@use 'barchart/variable';

/*Barcharts */
@use 'barchart/navbar';
@use 'barchart/reset'; 
@use 'barchart/footer';
@use 'barchart/menuham';
/*---Lammar los barchart---*/
@include reset.format; // Reseteamos toda la pagina


 


/*Contenedor Principal**/

.container{
    margin-top: 100px;
    display:grid;
    grid-template-columns:repeat(3,300px);
    column-gap: 5px;
    row-gap: 10px;
    justify-content: center;
    z-index: 6;
    width: 100%;

    
    
}


.container__card {
    
    width: 275px;
    height: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    
    

    &:hover{
        
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
         transform: translateY(0.5%); 
         cursor: pointer;
       
     }
    
    
   
    
}


.container__img_card {
    width: 180px;
    height: 180px;
    margin-left: 30px;
    
}

.container__name_card{
    font-size: var(--lg);
    font-family: variable.$title-font;
    padding: 0;
    margin-bottom: 7px;

    &:hover{
        text-decoration:underline;
        color: variable.$avocado-color;
           
       }
       
       
    
}

.container__desc_card{
    font-size: var(--sm);
    font-family: variable.$description-font;
    color: variable.$description-color;
}

.container__btn_card {  
    background-color: variable.$avocado-color;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: variable.$sub-title-font;
    font-size: 15px;
    width: 80px;
    height: 30px;
    transition: all 300ms;
    position: relative;

    p {

        margin: auto;
    }
    


    &:hover{
        cursor: pointer;
        background-color: rgb(69, 182, 98);
    }
    
    
}

.container__btn_loading .btn__add {
    visibility: hidden;
    opacity: 0;
}

.container__btn_loading::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border:4px solid transparent;
    border-top-color: #ffff ;
    border-radius: 50%;
    animation:button-loading-spinner 1s linear  infinite ;


}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to{
        transform: rotate(1turn);
    }
}


@media screen and (max-width: 965px){

    .container {
        column-gap:1px;
        grid-template-columns:repeat(3,250px);

        .container__card {
            width: 230px;
            height: 270px;
            
    
            img{
                width: 130px;
                height:130px ;
            }

            .container__name_card{font-size: 13px }

            .container__desc_card{font-size: 12px;}

            .container__btn_card{
                font-size: 13px;
                width: 70px;
                height: 30px;


            }

        


        }
    }


}


@media screen and (max-width: 778px){

    .container {
        column-gap:1px;
        grid-template-columns:repeat(2,250px);

      
    }


}

@media screen and (max-width: 520px){

    .container {
        column-gap:1px;
        grid-template-columns:repeat(1,250px);

      
    }



}
