@charset "UTF-8";
/*Colors*/
/*Fonts / typography*/
/*Font Size*/
/*Barchart*/
/*---------NavBar Menu-----------*/
.header {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  align-items: center;
  padding: 10px 10px;
  height: 50px;
  line-height: 1.65em;
  position: fixed;
  z-index: 11;
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba y abajo */
  background-color: white;
  transition: all 0.6s ease;
}

/*----------Slide Menu Phone----------*/
.header__btn_ham {
  transform: translateX(80px);
  display: none;
}
.header__btn_ham img {
  width: 20px;
  height: 20px;
}

/*---------Logo-------------*/
.header__logo img {
  width: 250px;
  height: 150px;
  margin-right: -40px;
}

/*---------About Menu---------*/
.header__about_menu {
  transform: translateX(100px);
}

/*-----------Nav----------------*/
.nav .nav__ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.nav .nav__ul .ul__item_li {
  margin: 5px;
}
.nav .nav__ul .ul__item_li .ul__item_a {
  display: flex;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #000000;
  position: relative;
  padding: 5px 15px 5px 16px;
  overflow: hidden;
  text-transform: uppercase;
  font-family: "Arvo", serif;
}
.nav .nav__ul .ul__item_li .ul__item_a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 50%;
  height: 2px;
  background-color: #65dd75;
  transition: 0.5s cubic-bezier(0.075, 0.082, 0.165, 1);
}
.nav .nav__ul .ul__item_li .ul__item_a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 50%;
  height: 2px;
  background-color: #65dd75;
  transition: 0.5s cubic-bezier(0.075, 0.082, 0.165, 1);
}
.nav .nav__ul .ul__item_li .ul__item_a:hover {
  color: #65dd75;
}
.nav .nav__ul .ul__item_li .ul__item_a:hover:before {
  right: 0;
}
.nav .nav__ul .ul__item_li .ul__item_a:hover:after {
  left: 0;
}

/*----------Boton para buscar------*/
.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  line-height: 80px;
  color: #65dd75;
  position: absolute;
  top: -3px;
  right: 298x;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms;
}

.header__search input {
  width: 200px;
  font-size: 14px;
  height: 30px;
  padding-left: 30px;
  outline: none;
  border-radius: 15px;
}

.header__search {
  position: relative;
}

/*----------Username Menu------*/
.header__username_menu {
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin-right: 20px;
  transform: translateX(-70px);
}

.username_menu__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  transform: translateX(-15px);
}
.username_menu__profile .profile__img {
  width: 27px;
  height: 27px;
  transform: translateY(32px);
}
.username_menu__profile p {
  font-size: 12px;
  padding-top: 20px;
  font-family: "Arvo", serif;
}

.username_menu__cart .cart__img {
  width: 27px;
  height: 27px;
  padding: 0px;
  transform: translateY(32px);
}
.username_menu__cart .cart__img:hover {
  cursor: pointer;
}
.username_menu__cart .cart__amount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #65dd75;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  right: 6px;
  z-index: 2;
}
.username_menu__cart .cart__amount {
  font-family: "Arvo", serif;
}

.preview {
  min-width: 350px;
  right: 4px;
  top: 72px;
  position: fixed;
  visibility: hidden;
  background-color: white;
  box-shadow: 1px 5px 5px 5px rgba(34, 36, 38, 0.15);
  transition: visibility 0s, opacity 0.6s linear;
}

.preview__card_no {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.preview__card_no .preview__card_no_img {
  width: 60px;
  height: 60px;
}
.preview__card_no .preview__card_no_p {
  font-size: 18px;
}
.preview__card_no h1 {
  font-family: "Arvo", serif;
  font-size: 10px;
}

.preview__card_shop {
  display: grid;
  grid-template-columns: 200px 20px;
  grid-template-rows: 50px 30px;
  column-gap: -40px;
  position: relative;
  background-color: white;
}

.preview__name {
  display: flex;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
}

.card_shop__img {
  width: 75px;
  height: 75px;
}

.card_shop__name {
  font-size: 12px;
  font-family: "Arvo", serif;
  font-weight: 700;
}

.card_shop__price {
  grid-column: 1/2;
  grid-row: 2/3;
  position: absolute;
  top: -20px;
  left: 70px;
}

.card_shop__qua {
  grid-area: quality;
  grid-column: 3/4;
  grid-row: 1/2;
}

.card_shop_trash {
  display: flex;
  gap: 60px;
  align-items: center;
  position: absolute;
  left: 230px;
}

.card_shop__trash {
  width: 20px;
  height: 20px;
}
.card_shop__trash:hover {
  cursor: pointer;
}

.preview__container_sub {
  background-color: white;
  display: flex;
  justify-content: flex-end;
}
.preview__container_sub .card_sub__btn {
  background-color: #65dd75;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: "Arvo", serif;
  font-size: 13px;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 5px;
}
.preview__container_sub .card_sub__btn:hover {
  cursor: pointer;
  background-color: rgb(69, 182, 98);
}

.preview__card_sub {
  position: absolute;
  bottom: -10px;
  left: 25px;
}
.preview__card_sub .card_sub__subtotal {
  margin-bottom: -10px;
  font-size: 20px;
  font-family: "Koulen", cursive;
  font-weight: 400;
  color: rgb(132, 126, 126);
}

/*Media*/
@media screen and (max-width: 1343px) {
  .header__about_menu {
    transform: translateX(10px);
  }
  .header__about_menu .nav .ul__item_li {
    margin: -2px;
  }
  .header__username_menu {
    transform: translateX(10px);
    justify-content: center;
  }
  .username_menu__cart .cart__amount {
    top: 25px;
    right: 20px;
  }
}
@media screen and (max-width: 965px) {
  .header__logo img {
    width: 200px;
    height: 130px;
  }
  .header__about_menu {
    transform: translateX(-10px);
  }
  .header__about_menu .nav .ul__item_li {
    margin: -5px;
  }
  .header__about_menu .nav .ul__item_li .ul__item_a {
    font-size: 12px;
  }
}
@media screen and (max-width: 840px) {
  .header__logo img {
    width: 170px;
    height: 110px;
  }
  .header__about_menu {
    transform: translateX(-10px);
  }
  .header__about_menu .nav .ul__item_li {
    margin: -5px;
  }
  .header__about_menu .nav .ul__item_li .ul__item_a {
    font-size: 11px;
  }
  .header__search .search__btn {
    top: -4px;
    right: 298x;
    border-radius: 50%;
    font-size: 17px;
  }
  .header__search input {
    width: 150px;
    height: 25px;
  }
  .header__username_menu .profile__img {
    width: 24px;
    height: 24px;
  }
  .header__username_menu .cart__img {
    width: 24px;
    height: 24px;
  }
  .header__username_menu p {
    font-size: 12px;
  }
}
@media screen and (max-width: 745px) {
  .header__btn_ham {
    display: block;
    transform: translateX(5px);
  }
  .header__about_menu {
    display: none;
  }
  .header__username_menu {
    transform: translateX(-50px);
  }
  .header__username_menu .username_menu__profile {
    display: none;
  }
  .header__username_menu .cart__img {
    transform: translateY(-2px);
    transform: translateX(40px);
  }
  .header__search {
    transform: translateX(30px);
  }
  .username_menu__cart .cart__amount {
    top: -10px;
    right: 18px;
  }
}
@media screen and (max-width: 660px) {
  .header__username_menu .cart__img {
    transform: translateX(60px);
  }
  .header__search {
    transform: translateX(45px);
  }
  .username_menu__cart .cart__amount {
    top: -10px;
    right: -5px;
  }
}
@media screen and (max-width: 518px) {
  .header__logo {
    transform: translateX(20px);
  }
  .header__username_menu .cart__img {
    transform: translateX(90px);
  }
  .header__search {
    transform: translateX(60px);
  }
  .username_menu__cart .cart__amount {
    top: -10px;
    right: -35px;
  }
}
/*---------Footer------------------*/
.footer {
  display: grid;
  justify-content: center;
  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.26);
  grid-template-columns: 500px 400px 500px;
  grid-template-rows: 50px 100px;
  column-gap: -40px;
  width: 100%;
  height: 200px;
  margin-top: 50px;
  padding-top: 30px;
}
.footer h1 {
  font-size: 14px;
  font-family: "Arvo", serif;
  font-weight: 200;
}

.authors {
  background-color: #65dd75;
  width: 100%;
  height: 100%;
}

.footer__title_address {
  display: flex;
  justify-content: center;
  margin-left: -100px;
}
.footer__title_address img {
  width: 40px;
  height: 40px;
}

.footer__address {
  display: flex;
  justify-content: center;
  grid-column: 1/2;
}

.footer__socialmedia {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  grid-column: 2/3;
}
.footer__socialmedia img {
  width: 35px;
  height: 35px;
}

.footer__contactus {
  display: block;
  margin: auto;
}
.footer__contactus p {
  display: flex;
  margin: 20px;
}
.footer__contactus img {
  width: 30px;
  height: 20px;
}

/*--------Titulos de los footers-------------*/
.footer__title_socialmedia {
  display: flex;
  justify-content: center;
  grid-row: 1/2;
  grid-column: 2/3;
}

.footer__title_contactus {
  display: flex;
  justify-content: center;
  grid-row: 1/2;
  grid-column: 3/4;
}

/*Media*/
@media screen and (max-width: 1416px) {
  .footer {
    grid-template-columns: 400px 300px 400px;
  }
}
@media screen and (max-width: 1115px) {
  .footer {
    grid-template-columns: 350px 250px 350px;
  }
}
@media screen and (max-width: 965px) {
  .footer {
    grid-template-columns: 300px 200px 300px;
  }
}
@media screen and (max-width: 817px) {
  .footer {
    grid-template-columns: 300px 200px;
    grid-template-rows: 50px 100px 50px 100px;
  }
  .footer .footer__title_contactus {
    display: flex;
    margin-left: -100px;
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .footer .footer__contactus {
    display: block;
    margin: auto;
    grid-row: 4/5;
    grid-column: 1/2;
  }
}
/*Variables*/
.menu_ham {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -1700px;
  top: 0;
  z-index: 12;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.menu_ham .nav .nav__img_profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: auto;
}
.menu_ham .nav .nav__img_profile .img_profile {
  width: 26px;
  height: 26px;
  padding-top: 10px;
}

.menu_ham .nav {
  margin-top: 0;
  margin-left: -12px;
  width: 100%;
  max-width: 200px;
  height: 100%;
  background: white;
  list-style-type: none;
  position: relative;
  padding: 0;
  transition: all 300ms;
}
.menu_ham .nav .nav__item_li img {
  width: 20px;
  height: 15px;
}
.menu_ham .nav li {
  padding: 10px;
}
.menu_ham .nav a {
  padding: 10px;
  text-decoration: none;
  color: #000000;
}
.menu_ham .nav a:hover {
  color: var(--hospital-green);
}
.menu_ham .nav .nav__img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 7px;
}

/*Variables*/
/*Barcharts */
/*---Lammar los barchart---*/
body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/*-----Container------*/
.container {
  display: flex;
  margin-top: 150px;
  justify-content: space-evenly;
}

.directions__title {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 20px;
}
.directions__title h1 {
  font-family: "Arvo", serif;
}
.directions__title img {
  width: 130px;
  height: 130px;
}

.container__directions {
  display: grid;
  grid-template-rows: 150px 140px 100px;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 20px;
}
.container__directions h2 {
  font-family: "Arvo", serif;
}
.container__directions p {
  font-family: "Varela", sans-serif;
}

.directions__hours {
  grid-column: 1/2;
  grid-row: 2/3;
}

.directions__contact {
  grid-column: 2/3;
  grid-row: 2/3;
}

.directions__nearme {
  grid-column: 1/2;
  grid-row: 3/4;
}

.directions__btn {
  grid-column: 2/3;
  grid-row: 3/4;
}

.btn {
  background-color: #65dd75;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 17px;
  width: 160px;
  height: 50px;
  font-family: "Arvo", serif;
}

.container__directions h2 {
  font-size: 22px;
  text-decoration: underline;
  color: #65dd75;
}

.photos {
  display: flex;
  flex-direction: column;
}

.container__photos .photos {
  width: 500px;
  height: 300px;
}

/*Media*/
@media screen and (max-width: 982px) {
  .directions__title h1 {
    font-size: 25px;
  }
  .container__directions h2 {
    font-size: 18px;
  }
  .container__directions p {
    font-size: 12px;
  }
  .container__photos .photos {
    width: 400px;
    height: 200px;
  }
  .btn {
    font-size: 15px;
    width: 150px;
    height: 40px;
  }
}
@media screen and (max-width: 982px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=location.css.map */
