/*Variables*/
@use 'variable';



.menu_ham{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1700px;
    top: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    
 
    
   
 }

 .menu_ham .nav .nav__img_profile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;

    .img_profile{
        width: 26px;
        height:26px;
        padding-top: 10px;
     }
   
 }

 .menu_ham .nav{
    margin-top: 0;
    margin-left: -12px;
    width: 100%;
    max-width: 200px;
    height: 100%;
    background: white;
    list-style-type: none;
    position: relative;
    padding:  0;
    transition: all 300ms;

    .nav__item_li img {
        width: 20px;
        height: 15px;
        
    }

    li {
        padding: 10px;
       
     }
     
     a {
        padding: 10px;
        text-decoration: none;
        color: #000000;
    
    
         &:hover {

            color: var(--hospital-green);

         }
     }


     .nav__img {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 12px;
        top: 7px;
        
    }
    
    
 }      
 


