/*Barchart*/
@use 'variable'; 

/*---------NavBar Menu-----------*/
.header{
    display: flex;
    justify-content:space-around;
    margin-top: 0rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); 
    align-items: center;
	padding: 10px 10px;
    height: 50px;
	line-height: 1.65em;
    position: fixed;
    z-index: 11;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba y abajo */
    background-color: white;
    transition: all 0.6s ease;
}


/*----------Slide Menu Phone----------*/

.aside {
    display: none;
}
.header__btn_ham {
    display: none;
    width: 25px;
    height:25px;
    transform: translateY(1px);
    transform: translateX(-90px);
    
}

/*---------Logo-------------*/
.header__logo  img {
    width: 250px;
    height:150px;
}

/*---------About Menu---------*/
.header__about_menu {
    transform:translateX(100px);
}

/*-----------Nav----------------*/
.nav {
    .nav__ul {
        display: flex;
        list-style-type: none;
        align-items: center;

        .ul__item_li {
            margin: 10px;

            .ul__item_a{

                display: flex;
                font-weight: 600;
                text-decoration: none;
                font-size: 13px;
                color: #000000;
                position: relative;
                padding: 5px 15px 5px 16px;
                overflow: hidden;
                text-transform: uppercase;
                font-family: variable.$title-font;

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 100%;
                    width: 50%;
                    height: 2px;
                    background-color: variable.$avocado-color;
                    transition: .5s cubic-bezier(0.075, 0.082, 0.165, 1);
                    
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                    width: 50%;
                    height: 2px;
                    background-color:variable.$avocado-color;
                    transition: .5s cubic-bezier(0.075, 0.082, 0.165, 1);
                }

                &:hover {
                    color: variable.$avocado-color;
                }

                &:hover:before {
                    right: 0;
                }

                &:hover:after {
                    left: 0;
                }



            }
        }
    }
}

/*----------Boton para buscar------*/

.search__btn { 
    display: flex;
    justify-content: center;
     align-items: center;
     width: 35px;
     height: 35px;
     line-height: 80px;
     color: variable.$avocado-color;
     position: absolute;
     top: 18px;
     right: 298x;
     border-radius: 50%;
     font-size: 20px;
     cursor: pointer;
     transition: all 300ms;
      

}

.header__search input{
    width: 200px;
    font-size: 14px;
    height: 30px;
    padding-left: 30px;
    outline: none;
    border-radius: 15px;
}

/*----------Username Menu------*/
.header__username_menu{
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-right: 20px;
    transform: translateX(-70px);

   
       
   }

.username_menu__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    transform: translateX(-15px);

    .profile__img{
       
        width: 27px;
        height:27px;
        transform: translateY(32px);

      }
    
      p{
        font-size: 12px;
        padding-top: 20px;
        font-family: variable.$title-font;;
        

      }

    
  }


.username_menu__cart  {
   
    .cart__img{

        width: 27px;
        height:27px;
        padding: 0px;
        transform: translateY(32px);
        &:hover{
            cursor: pointer;
            transform: translateY(30px);
        }


    }

    .cart__amount {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: variable.$avocado-color;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        position: absolute;
        top: 25px;
        right: 6px;
        z-index: 2;
      
        
    }
   


    
}


.preview {
    min-width: 350px;
    right: 25px;
    top:85px;
    position: fixed;
    visibility: hidden;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); 
    transition : visibility 0s, opacity 0.6s linear;




}

.preview__card_shop {
   display: grid;
   grid-template-columns: 200px 20px;
   grid-template-rows: 45px 30px;
   column-gap: -40px;
   position: relative;
   background-color: white;
   
}

.preview__name {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;

}

.card_shop__img {
    width: 75px;
    height: 75px;
    
}

.card_shop__name {
   font-size: 13px;
}

.card_shop__price{
    grid-column: 1/2;
    grid-row: 2/3;
    position: absolute;
    top: -20px;
    left: 70px;
}

.card_shop__qua {
    grid-area:quality;
    grid-column: 3/4;
    grid-row: 1/2;
}

.card_shop_trash{
    display: flex;
    gap: 60px;
    align-items: center;
    position: absolute;
    left: 230px;
    
}

.card_shop__trash{
    width: 20px;
    height: 20px;

    &:hover{
        cursor: pointer;
    }
}

.preview__container_sub{
    background-color: white;
    display: flex;
    justify-content: flex-end;


    .card_sub__btn{
        background-color: variable.$avocado-color;
        border: none;
        border-radius: 20px;
        color: #fff;
        font-family: inherit;
        font-size: 15px;
        width: 150px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 5px;
    
        &:hover{
            cursor: pointer;
            background-color: rgb(69, 182, 98);
        }
        
    }
}

.preview__card_sub{
    position: absolute;
    bottom:-10px;
    left: 25px;

    .card_sub__subtotal{
        margin-bottom:-10px;
        font-size: 17px;
    }
    
}

