@use 'variable';

@mixin format {
    body{
        font-size: variable.$body-size;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;   
        
    }
    
    
}

