/*Colors*/
$avocado-color: #65dd75;
$description-color: rgb(132, 126, 126);

/*Fonts / typography*/
$title-font : 'Arvo', serif;
$sub-title-font : 'Koulen', cursive;
$description-font:  'Varela', sans-serif;

/*Font Size*/
$body-size:15px;
$title-size : 18px;
$sub-title-size : 16px;
$description-size : 15px;

